@import "tailwindcss";

/* animation pour les gouttes de pluie */
@theme {
  --animate-fall: fall 2s linear forwards;

  @keyframes fall {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(110vh);
    }
  }
}